body {
  background-color: #fca652;
margin: 0;
  text-align: center;
}

.heading1 {
  text-align: center;
  margin-bottom: 150px;
  font-family: 'Lobster', cursive;
 font-size: 40px;
}

.class {
  margin: 40px;
  margin-left: 20%;
  font-size: 20px;

}
.far {
  margin-right: 10px;
}
.fas {
  margin-right: 10px;
}
.home {
 font-size: 25px;
}

.heading{
  background-color: #ff4b5c;
}
.japatalk{
  font-size: 30px;
    margin-left: 15%;
}
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
}
