body {
  background-color: #fca652;
margin: 0;
}

.heading1 {
  text-align: center;
  margin-bottom: 150px;
  font-family: 'Lobster', cursive;
}

.class {
  margin: 10px;
  margin-left: 20%;
  font-size: 20px;

}
.home {
 font-size: 10px;
}

.heading{
  background-color: #ac4b1c;
}
